main h1{
    padding:8px;
    text-align: center;
    background-color: rgb(255, 147, 80);
    border-radius:15px ;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    border-bottom:5px solid  rgba(255, 248, 229, 0.71);;
    color: white;
}

main section{
    background-color: rgb(247, 140, 73);
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    padding-top: 0px;
    border: 3px solid rgb(247, 140, 73);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 40px;
}

main section div{
    margin: auto;
    background-color:  rgba(255, 248, 229, 0.71);
    border: 3px solid rgb(247, 140, 73);
    margin-top: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    height: 500px; 
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-between;
}

main section div h3{
    text-align: center;
}

main section div img{
    text-align: center;
    margin: auto;
}
main section  h2 {
    color: white;
    background-color: rgb(255, 147, 80);
    width: 40%;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    font-size: xx-large;
    margin-top: 0px;
    grid-column: span 3;
}

main section  button {
    background-color: rgb(255, 147, 80);
    padding: 8px;
    border: white;
    border-radius: 10px;
    color: white;
    width:50%;
    margin: auto;
    margin-top: 10px;

}

main section button:hover{
    background-color: rgb(161, 62, 0) !important;
}

.stars {
  color: rgb(214, 182, 1);
  font-size: 18px;
  margin-top: 5px;
}

main section img {
    width: 100%;
    height: 270px;
    object-fit: cover; 
    border-radius: 8px;
}