#contact_box{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2%;
    margin-bottom: 0px;
}

MAIN{
    width: 98%;
    margin-top: 15px;
    padding-bottom: 0px;
    height: 720px;
}

form{
    background-color:  rgba(255, 248, 229, 0.71);
    border: 2px solid  rgb(247, 140, 73);
    width: 100%;
    min-width: 60%;
    display: flex;
    margin: 2%;
    border-radius: 15px;
    height: 80%;
    justify-content: center;
    margin-top: 0px;    
}
fieldset{
    display: flex;
    justify-content: space-evenly;
    border: none;
    flex-direction: column;
    width: 70%;
    margin: 10%;
    margin-top: 28px;
}

legend{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    background-color: rgb(247, 140, 73);
    color: #f1efef;
    padding: 5px;
    width: 100%;
    border-radius: 15px;
    border-bottom: 5px solid  rgb(161, 62, 0);
    margin-top: 0px;
}
#Information p {
    margin: 5px 0;
    font-weight: normal;
    font-size: 1.1rem;
    color: #1a1a2e;
}

#Information address {
    margin-bottom: 15px;
    font-style: normal;
    font-size: 1rem;
    color: #444;
}


input{
    margin: 15px 0;
    font-size: 1rem;
    border: none;
    border-bottom:  rgb(247, 140, 73) 3px solid;
    border-left:  rgb(247, 140, 73) 3px solid;
    height: 50px;
    padding: 10px;
    border-radius: 0 0 15px;
}

input[type=submit],input[type=reset]{
    font-size: 1.2rem;
    background-color:  rgb(247, 140, 73);
    color: #f1efef;
    border-radius: 0 0 15px;
    height: 50px;
    transition: ease-in-out 0.3s;

}
input[type=submit]:hover , input[type=reset]:hover{
    
    background-color:  rgb(161, 62, 0);
    color: white;
}

#contact_method{
    display: flex;
    justify-content: space-between;
}

#contact_method>div{
    display: flex;
    gap: 10px;
    align-items: center;
}

#Message{
    height: 200px;
    font-size: 1rem;
    padding: 10px;
    border-left: rgb(247, 140, 73) 3px solid;
    border-bottom:  rgb(247, 140, 73) 3px solid;
    border-radius: 0 0 15px;
    
}

#Information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:  rgba(255, 248, 229, 0.71);
    margin: 2%;
    border-radius: 15px;
    height: 80%;
    padding: 3%;
    border: 2px solid  rgb(247, 140, 73);
    width: 100%;
    margin-top: 0px;    


}

#Information>h1{
    text-align: center;
    font-size: 2rem;
    background-color: rgb(247, 140, 73);
    color: #f1efef;
    padding: 10px;
    border-radius: 15px;
    border-bottom: 5px solid  rgb(161, 62, 0);

}

iframe{
    border: 3px solid rgb(247, 140, 73);
    border-radius: 10px;
}
