/*Rahaf Sabra 60314078 11/5/2025*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    margin: auto;
    width: 80%;
}

header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgba(250, 246, 236, 0.71);
    border-bottom: 3px solid rgb(247, 140, 73);
    border-radius: 10px;
}

header h1{
    font-weight: normal;
    color:  rgb(247, 140, 73);

}
html{
    background-color: rgb(250, 245, 245);
}
header ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    padding-top: 7px;
    justify-content: center;
    text-align: center;
    gap: 40px;
    
}

header li{
    list-style-type: none;
}

header a{
    text-decoration: none;
    color:  rgb(247, 140, 73);
    font-weight: bold;
    border-bottom: 3px solid rgb(247, 140, 73);
    border-radius: 5px;
    padding: 20px;
    font-size: 10px;
}

a:hover{
    background-color:  rgb(255, 220, 198);
}

#one{
    width: 100%;
    margin-top: 40px;
    text-align: center;

}

#one img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    border: 3px solid  rgb(247, 140, 73);;

}

footer{
    background-color:rgb(229, 100, 19);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 0px;
    color: white
}

footer li{
    list-style-type: none;
}

footer li a:hover{
    border: 2px solid rgb(161, 62, 0);
    background-color: blanchedalmond;
    padding: 7px;
}

footer ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-bottom: 2px solid rgb(161, 62, 0);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: rgb(255, 180, 133);
  color: white;
}

.fa-twitter {
  background:  rgb(255, 180, 133);
  color: white;
}

.fa-linkedin {
  background: rgb(255, 180, 133);
  color: white;
}

.fa-instagram {
  background:  rgb(255, 180, 133);
  color: white;
}

#two{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
